@import '../themes/theme';
@import '../mixins/width.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    padding: 1.4rem 0.8rem 2rem 0.8rem;
    border-radius: 5px;
    // .avatar {

    // }
    // .title {

    // }
    .form {
      margin: 1rem 0 0 0;
      width: 80%;
      // .inputEmail {

      // }
      // .inputPassword {

      // }
      // .formControl {

      // }
      // .login {

      // }
      // .grid {
      //   .gridItem {
      //     .gridLink {

      //     }
      //   }
      // }
    }
  }
}
