@import '../themes/theme';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  .box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    .animationContainer {
      width: 100%;
      height: 100%;
      background: transparent;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .animation {
        border-radius: 30px;
        width: 64px;
        height: 64px;
      }
      .innerBox {
        position: relative;
        padding-top: 1.87rem;
        margin-top: 3.62rem;
        width: 30%;
      }
    }
  }
}
