@import '../themes/theme';
@import '../mixins/width.scss';

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}
