@import './themes/theme';

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: $primary-font;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.katex { 
  font-family: $primary-font; 
}
