@import './themes/theme';
@import './mixins/width.scss';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .box {
    .header {
      border: 0;
      display: flex;
      flex-direction: column;
      flex: 1;
      margin: 2rem 0 1rem 0;
      align-items: center;
      justify-content: center;
      .title {
        color: $primary;
        font-weight: bold;
        text-align: center;
        padding: 0;
      }
      .subtitle {
        width: 90%;
        text-align: justify;
        margin: 0;
      }
    }
    .homecontent {
      .count {
        text-align: center;
        .span {
          color: $secondary;
          background-color: $secondary;
        }
      }

    }
  }
}
