@import './themes/theme';
@import './mixins/width.scss';

.navbar {
  .toolbar {
    // .brand {
    // }
    .nav {
      .link {
        margin: 0.8rem 1rem;
      }
    }
    .login {
      background-color: $secondary;
      // margin: 0.8rem 0.3rem;
    }
    .register {
      background-color: $success;
      // margin: 0.8rem 0.3rem;
    }
  }
}
